/*
========================
        HEADER
========================
*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c1c1c;
    color: white;
    box-shadow: 0px 7px 25px 5px #242424;
}

header .header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header .header-title h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

header .header-title .header-logo {
    background-image: url("../../img/picto-blanc.png");
    background-size: 100%;
    width: 100px;
    height: 100px;
}

header .header-title .h1-span {
    color: #FF0068;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header nav .header-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10px;
}

header nav .header-menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    margin: 0 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header nav .header-menu li a:hover {
    text-decoration: underline;
}

header nav .header-login {
    padding: 0 10px;
    list-style: none;
}

header nav .header-login li a {
    text-decoration: none;
    color: white;
}

header nav .header-login li a:hover {
    text-decoration: underline;
}


/*
========================
        PROFIL
========================
*/

main {
    text-align: center;
    width: 500px;
    margin: 100px auto;
    border: 2px solid#FF0068;
    border-radius: 10px;
    padding: 20px;
}

main .title-profil h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}


/*
========================
        FOOTER
========================
*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 20px 0;
    margin: 50px 0 0 0;
    background: linear-gradient(#929292, #4a4a4a);
    box-shadow: 0px -8px 24px 6px #242424;
}

footer nav .footer-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10px;
}

footer nav .footer-menu li a {
    text-decoration: none;
    color: black;
    padding: 10px 5px;
    margin: 0 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer nav .footer-menu li a:hover {
    text-decoration: underline;
}

footer div p {
    font-size: 11px;
}

footer a.p-admin {
    color: black;
}